h1 
{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #0d6efd;
    text-align: center;
    margin-top: 20px;
}
.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #28a745; /* Verde Supabase */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}