
<title>Home</title>
<h1>Bienvenidos a la Clínica Online</h1>  
<div class="contenedor-botones">
    <button class="btn btn-outline-primary" *ngIf="!usuarioAutenticado" routerLink="/login">Login</button>
    <button class="btn btn-outline-primary" *ngIf="!usuarioAutenticado" routerLink="/registro">Registro</button>
    <button class="btn btn-outline-primary" *ngIf="usuarioAutenticado" routerLink="/mi-perfil">Mi Perfil</button>
    <button class="btn btn-outline-primary" *ngIf="usuarioAutenticado && this.rol != 'especialista'" routerLink="/solicitar-turnos">Solicitar turnos</button>
    <button class="btn btn-outline-primary" *ngIf="usuarioAutenticado && !isAdmin" routerLink="/mis-turnos">Mis Turnos</button>
    <button class="btn btn-outline-primary" *ngIf="isAdmin" routerLink="/admin/usuarios">Sección Usuarios</button>
</div>
  