<title>Informes</title>
<div class="botones-informes text-center mt-4">
    <button class="btn btn-primary m-2" [routerLink]="['logs']">
        📋 Log de ingresos
    </button>
    <button class="btn btn-info m-2" [routerLink]="['turnos-especialidad']">
        🩺 Turnos por especialidad
    </button>
    <button class="btn btn-success m-2" [routerLink]="['turnos-dia']">
        📅 Turnos por día
    </button>
    <button class="btn btn-warning m-2" [routerLink]="['turnos-por-medio']">
        📨 Turnos por medio (lapso)
    </button>
    <button class="btn btn-secondary m-2" [routerLink]="['turnos-finalizados']">
        ✅ Turnos finalizados (lapso)
    </button>
</div>