<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>  
</head>
<h1>Registrate</h1>
<div class="contenedor-registro">
    <div class="formulario-registro">
        <form [formGroup]="formularioRegistro" (ngSubmit)="register()">
            <input type="text" placeholder="Nombre" formControlName="nombre" class="register-input" />
            <div *ngIf="formularioRegistro.get('nombre')?.invalid">
                <small *ngIf="formularioRegistro.get('nombre')?.errors?.['required']">⚠ Este campo es obligatorio.</small>
                <small *ngIf="formularioRegistro.get('nombre')?.errors?.['pattern']">⚠ Solo se permiten letras.</small>
            </div>
            <br>
            <input type="text" placeholder="Apellido" formControlName="apellido" class="register-input" />
            <div *ngIf="formularioRegistro.get('apellido')?.invalid">
                <small *ngIf="formularioRegistro.get('apellido')?.errors?.['required']">⚠ Este campo es obligatorio.</small>
                <small *ngIf="formularioRegistro.get('apellido')?.errors?.['pattern']">⚠ Solo se permiten letras.</small>
            </div>
            <br>
            <input type="number" placeholder="Edad" formControlName="edad" class="register-input" />
            <div *ngIf="formularioRegistro.get('edad')?.invalid">
                <small *ngIf="formularioRegistro.get('edad')?.errors?.['required']">⚠ Este campo es obligatorio.</small>
                <small *ngIf="formularioRegistro.get('edad')?.errors?.['min']">⚠ Debe ser mayor de 18 años.</small>
                <small *ngIf="formularioRegistro.get('edad')?.errors?.['max']">⚠ Debe ser menor de 99 años.</small>
            </div>
            <br>
            <input type="number" placeholder="DNI" formControlName="dni" class="register-input" />
            <div *ngIf="formularioRegistro.get('dni')?.invalid">
                <small *ngIf="formularioRegistro.get('dni')?.errors?.['required']">⚠ Este campo es obligatorio.</small>
                <small *ngIf="formularioRegistro.get('dni')?.errors?.['pattern']">⚠ Debe contener 6 o 7 numeros.</small>
            </div>
            <br>
            <input type="email" placeholder="Email" formControlName="mail" class="register-input" />
            <div *ngIf="formularioRegistro.get('mail')?.invalid">
                <small *ngIf="formularioRegistro.get('mail')?.errors?.['required']">⚠ Este campo es obligatorio.</small>
                <small *ngIf="formularioRegistro.get('mail')?.errors?.['email']">⚠ Ingrese un mail valido.</small>
            </div>
            <br>
            <input type="password" placeholder="Contraseña" formControlName="password" class="register-input" />
            <div *ngIf="formularioRegistro.get('password')?.invalid">
                <small *ngIf="formularioRegistro.get('password')?.errors?.['required']">⚠ Este campo es obligatorio.</small>
                <small *ngIf="formularioRegistro.get('password')?.errors?.['minlength']">⚠ Debe ser mayor de 6 caracteres.</small>
            </div>
            <br>
            <label>Rol:</label>
            <select formControlName="tipo" class="register-input">
                <option value="paciente">Paciente</option>
                <option value="especialista">Especialista</option>
            </select>
            <div *ngIf="formularioRegistro.get('tipo')?.invalid">
                <small *ngIf="formularioRegistro.get('tipo')?.errors?.['required']">⚠ Este campo es obligatorio.</small>
            </div>
            <br>
            <div *ngIf="formularioRegistro.get('tipo')?.value === 'paciente'">
                <label>Obra social:</label>
                <select formControlName="obra_social" class="register-input">
                    <option value="osde">OSDE</option>
                    <option value="accord-salud">Accord Salud</option>
                    <option value="galeno">Galeno</option>
                </select>
                <div *ngIf="formularioRegistro.get('obra_social')?.invalid">
                    <small *ngIf="formularioRegistro.get('obra_social')?.errors?.['required']">⚠ Este campo es obligatorio.</small>
                </div>
            </div>
            <div *ngIf="formularioRegistro.get('tipo')?.value === 'especialista'">
                <label>Especialidad:</label>
                <select formControlName="especialidad" class="register-input">
                    <option value="traumatologia">Traumatologia</option>
                    <option value="cardiologia">Cardiologia</option>
                    <option value="oncologia">Oncologia</option>
                </select>
                <div *ngIf="formularioRegistro.get('especialidad')?.invalid">
                    <small *ngIf="formularioRegistro.get('especialidad')?.errors?.['required']">⚠ Este campo es obligatorio.</small>
                </div>
            </div>
            <br>
            <input type="file" (change)="onFileSelected($event, 'avatarFile')" class="register-input" />
            <div *ngIf="formularioRegistro.get('avatarFile')?.invalid">
                <small *ngIf="formularioRegistro.get('avatarFile')?.errors?.['required']">⚠ Debes subir una imagen.</small>
            </div>                               
            <br>
            <div *ngIf="formularioRegistro.get('tipo')?.value === 'paciente'">
                <input type="file" (change)="onFileSelected($event, 'avatarFile2')" class="register-input"/>  
                <div *ngIf="formularioRegistro.get('avatarFile2')?.invalid">
                    <small *ngIf="formularioRegistro.get('avatarFile2')?.errors?.['required']">⚠ Debes subir una imagen.</small>
                </div>                
            </div>
            <button class="btn btn-success" type="submit" [disabled]="formularioRegistro.invalid || isLoading">
                <ng-container *ngIf="!isLoading">Registro</ng-container>
                <ng-container *ngIf="isLoading">
                  <div class="spinner-btn"></div> Registrando...
                </ng-container>
            </button>                     
        </form>   
    </div>     
</div>
<div class="error-msg">{{ errorMessage }}</div>
<div class="error-msg">{{ message }}</div>

<div *ngIf="isLoading" class="overlay">
    <div class="spinner"></div>
    <p>Procesando...</p>
</div>