<title>Sección usuarios</title>
<h1>Listado de usuarios</h1>

<!-- Loading Spinner -->
<div *ngIf="cargando" class="spinner-container">
  <div class="spinner"></div>
  <p>Cargando datos...</p>
</div>

<!-- Filtros -->
<div class="d-flex gap-2 mb-3 align-items-center" *ngIf="!cargando">
  <label for="campo">Buscar por:</label>
  <select [(ngModel)]="campoSeleccionado" id="campo" class="form-select w-auto">
    <option *ngFor="let campo of camposDisponibles" [value]="campo.clave">
      {{ campo.etiqueta }}
    </option>
  </select>

  <input type="text" [(ngModel)]="filtro" class="form-control" placeholder="Escribí para filtrar..." />
  <button class="btn btn-primary" (click)="irRegistro()">Registrar nuevo usuario</button>
</div>

<!-- Cards de usuarios -->
<div class="row g-3" *ngIf="!cargando">
  <div
    class="col-sm-6 col-md-4 col-lg-3"
    *ngFor="let usuario of usuarios | filtro: filtro : campoSeleccionado | ordenar"
  >
    <div class="card h-100 border" appHoverSombra [appDirectivaColorRol]="obtenerTipoClase(usuario)">
      <div class="card-body">
        <h5 class="card-title">{{ usuario.apellido }}, {{ usuario.nombre }}</h5>
        <p class="card-text">
          <strong>Email:</strong> {{ usuario.mail }}<br />
          <strong>DNI:</strong> {{ usuario.dni | dni }}<br />
          <strong>Edad:</strong> {{ usuario.edad }} años<br />
          <strong>Tipo:</strong> {{ obtenerTipoClase(usuario) | titlecase }}<br />          
        </p>

        <div *ngIf="usuario.imagen_perfil" class="mb-2 text-center">
          <img
            [src]="usuario.imagen_perfil"
            [alt]="'Foto de ' + usuario.nombre"
            class="img-thumbnail"
            style="max-height: 100px;"
            appDirectivaZoomFotos class="img-perfil"
          />
        </div>     

        <button
          *ngIf="obtenerTipoClase(usuario) === 'paciente'"
          class="btn btn-success w-100"
          (click)="exportarTurnosDelUsuario(usuario)">
          📥 Exportar turnos
        </button>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-3 w-100">
  <button class="btn btn-success" (click)="exportarExcel()">
    Descargar todos los usuarios
  </button>
</div>