<title>Login</title>
<h1>Inicia sesión</h1>
<div class="contenedor-login">
  <div class="formulario-login">
    <form [formGroup]="formularioLogin" (ngSubmit)="login()">
      <!-- Email -->
      <input type="text" formControlName="mail" placeholder="Email" />
      <div *ngIf="formularioLogin.get('mail')?.invalid && formularioLogin.get('mail')?.touched">
        <small *ngIf="formularioLogin.get('mail')?.errors?.['required']">⚠ Debes ingresar un email.</small>
        <small *ngIf="formularioLogin.get('mail')?.errors?.['email']">⚠ El formato del email es incorrecto.</small>
      </div>

      <!-- Contraseña -->
      <input type="password" formControlName="password" placeholder="Password" />
      <div *ngIf="formularioLogin.get('password')?.invalid && formularioLogin.get('password')?.touched">
        <small *ngIf="formularioLogin.get('password')?.errors?.['required']">⚠ Debes ingresar una contraseña.</small>
        <small *ngIf="formularioLogin.get('password')?.errors?.['minlength']">⚠ La contraseña debe tener al menos 6 caracteres.</small>
      </div>

      <!-- Botón Iniciar Sesion-->
      <button class="btn btn-success" type="submit" [disabled]="formularioLogin.invalid || isLoading">Iniciar sesión</button>
      <!-- Accesos rápidos -->
      <div *ngIf="isLoadingUsuarios" class="overlay">
        <div class="spinner"></div>
        <p>Cargando...</p>
      </div>
      <div *ngIf="!isLoadingUsuarios">
        <div *ngFor="let paciente of pacientes; let i = index">
          <button class="btn btn-outline-primary quick-btn" (click)="quickAccess(paciente)">
            <img [src]="paciente.imagen_perfil" alt="Foto de {{ paciente.nombre }}" class="profile-img" />
            Acceso rápido a paciente {{ i + 1 }}
          </button>
        </div>       
        <div *ngFor="let especialista of especialistas; let i = index">
          <button class="btn btn-outline-primary quick-btn" (click)="quickAccess(especialista)">
            <img [src]="especialista.imagen_perfil" alt="Foto de {{ especialista.nombre }}" class="profile-img" />
            Acceso rápido a especialista {{ i + 1 }}
          </button>
        </div>       
        <div *ngIf="administrador">
          <button class="btn btn-outline-primary" (click)="quickAccess(administrador)">
            <img [src]="administrador.imagen_perfil" alt="Foto de {{ administrador.nombre }}" class="profile-img" />
            Acceso rápido administrador
          </button>
        </div>    
      </div>
    </form>
    <!-- Error -->
    <div class="error-msg">{{ errorMessage }}</div>
  </div>
</div>

<!-- 🔹 Overlay que bloquea la página mientras `isLoading` está activo -->
<div *ngIf="isLoading" class="overlay">
  <div class="spinner"></div>
  <p>Iniciando sesion...</p>
</div>